@font-face {
    font-family: adminFontX1;
    src: url(/fonts/protest-riot/protest-riot-latin-400-normal.ttf);
}
@font-face {
    font-family: my_PoorRichard;
    src: url(../../public/fonts/PoorRichardOpti.otf);
}