.homeContainer {
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

.homeContainer .bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.homeContainer .bg .bgC {
  width: 500px;
  height: 1000px;
  position: absolute;
  border-radius: 64px;
  background: var(--bg);

  opacity: calc(100% - 20% * var(--idx));
  z-index: calc(5 - var(--idx));
  box-shadow: 2px 2px 5px var(--bg);

  will-change: transform, opacity;
}
