.loginContainer {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid green; */
  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  color: var(--theme-colorB);
}

.loginContainer .context {
  width: 600px;
  height: 100%;
  background: var(--components-background);

  border-radius: 16px;
  border: 1px solid var(--navbar-border);

  padding: 40px 80px;
  /* border: 1px solid green; */
}
.loginContainer .context .top {
  width: 100%;
  margin-bottom: 40px;
}
.loginContainer .context .top h1 {
  font-size: 26px;
}
.loginContainer .context .top p {
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}

.google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: var(--components-background);
  border: 1px solid var(--navbar-border);
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--theme-colorB);
  cursor: pointer;
  margin-bottom: 24px;
  transition: 0.4s;
}

.google-btn:hover {
  border: 1px solid var(--theme-colorA);
}

.google-icon {
  width: 20px;
  height: 20px;
}

.loginContainer .context .divider {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--theme-colorE75);
  border-top: 1px solid var(--navbar-border);
  margin-bottom: 16px;
}
.loginContainer .context .divider p {
  transform: translateY(-50%);
  padding: 0 8px;
  background: var(--components-background);
}

.loginContainer .context .inputs {
  width: 100%;
}
.loginContainer .context .inputs .input {
  width: 100%;
  margin-bottom: 16px;
}
.loginContainer .context .inputs .input p {
  font-size: 14px;
  color: var(--theme-colorB);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginContainer .context .inputs .input input,
.loginContainer .context .inputs .SignIn {
  width: 100%;
  height: 48px;
  font-size: 16px;
  padding: 0 8px;
  border-radius: 8px;
  background: var(--components-background);
  color: var(--theme-colorB);
  border: 1px solid var(--navbar-border);
}
.loginContainer .context .inputs .SignIn {
  color: var(--components-background);
  background: var(--accent-soft);
  border: none;
  box-shadow: 0 10px 15px -3px var(--accent-soft-bg),
    0 4px 6px -4px var(--accent-soft-bg);
  margin: 8px 0px;
}

.loginContainer .context .footer {
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginContainer a {
  padding-left: 4px;
  color: var(--accent-soft);
}
