.NotesPage {
  width: 100%;
  height: 100%;
  padding-top: 96px;
  padding-left: 64px;
  padding-right: 64px;
}
.NotesPage .catogory {
  width: auto;
  height: 24px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
  margin-top: 24px;
  margin-bottom: 16px;
}
.NotesPage .topic {
  width: 100%;
  height: auto;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}