.infoPage{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 20px;
    padding-top: 80px;
}
.infoPage .container{
    width: 80%;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    background-color: var(--background2);
    text-align: center;
}
.infoPage .container h1{
    font-size: 16px;
    color: var(--text-primary);
}