@media (max-width: 768px) {
  .page {
    overflow: hidden;
    max-height: 100svh;
  }
  .ContentArea {
    max-height: 100svh;
    padding-left: 0;
    overflow: hidden;
  }

  .ContentArea .UsableArea {
    border-radius: 5% 5% 0 0;
    height: 100svh;
    position: fixed;
    top: 0;
    padding-bottom: 0px;
    margin: 0;
  }

  .returningBG {
    max-height: 100svh;
  }
}
