@media (max-width: 768px) {
  .page {
    max-height: 100svh;
  }
  .ContentArea {
    max-height: 100svh;
    padding-left: 0;
    overflow: hidden;
  }

  .ContentArea .UsableArea {
    border-radius: 5% 5% 0 0;
    padding-bottom: 8px;
  }

  .returningBG {
    max-height: 100svh;
  }
}
