.mobile-nav {
  /* border: 1px solid red; */
  position: fixed;
  width: 100vw;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 40;
}
.mobile-nav .logoContainer{
  display: flex;
  position: fixed;
  justify-content: center;
  left: 0;
  width: 100%;
  /* border: 1px solid red; */
}
.mobile-nav .logo {
  width: 160px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 4px;

  background: var(--components-background);
  border: 1px solid var(--navbar-border);
  border-radius: 22px 22px 60px 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-24px);
}

.mobile-nav .nav-sideIcons {
  max-height: 64px;
  max-width: 64px;
  /* border: 1px solid red; */
}

.mobile-nav .nav-sideIcon {
  position: absolute;
  width: 64px;
  min-width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background: var(--components-background);
  border: var(--accent-soft-border);
  border-radius: 64px;
  margin-top: 10px;
}

.mobile-nav .nav-sideIcon {
  background: var(--components-background);
  border: var(--accent-soft-border);
}

.mobile-nav .deactivated {
  color: var(--theme-colorB);
}
.mobile-nav .icon.active {
  color: var(--theme-colorA);
 
}
.mobile-nav .nav-sideIcon .navigation-btn {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: var(--accent-soft);

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    circle at top left,
    var(--components-background) 0%,
    var(--navbar-border) 90%
  );

  border: 1px solid var(--theme-colorE);
  box-shadow: inset 2px 2px 11px 5px var(--navbar-border);

  border-radius: 25px;
}

.mobile-nav .nav-sideIcon.active .navigation-btn {
  background: radial-gradient(
    circle at top left,
    var(--components-background) 0%,
    var(--accent-soft-border) 90%
  );

  border: 1px solid var(--accent-soft);
  box-shadow: inset 2px 2px 11px 5px var(--accent-soft-border);
}

.mobile-nav .navigation-icon-name{
  position: absolute;
  bottom: 20px;
  left: 0px;
  opacity: 0;
  padding: 5px 8px;
  border-radius: 6px;
  background-color: var(--components-background);
  font-size: 10px;
  color: var(--theme-colorB);
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.mobile-nav .navigation-icon-name.active{
  left: 80px;
  opacity: 1;
}
.mobile-route {
  position: fixed;
  width: 100%;
  /* border: 1px solid red; */
  bottom: 0;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.mobile-route .path {
  width: fit-content;
  max-width: 100%;
  font-size: 12px;
  color: var(--theme-colorB);
  padding: 4px 84px;

  background: #fbfbfb;
  border: 1px solid #82a1e7;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-overflow: ellipsis; */
}

.mobile-route .path p {
  /* border: 1px solid #82a1e7; */
  margin: 0;
  min-width: 100vw;
  padding: 0 8px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.mobile-route .path .route-item {
  display: inline-block;
  cursor: pointer;
}

.mobile-route .path .separator {
  margin: 0 4px;
}

.mobile-route .path .active {
  color: var(--theme-colorA);
  font-weight: 600;
}

.whileRouting{
  width: 100vw;
  height: 100vh;
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 10;
  background: rgb(0, 221, 255); 
}