.root {
  --background: #EFF3FC;
  --foreground: #fff;
  --theme-colorA: #7B7DEE;
  --theme-colorB: #34343E;
  --theme-colorC: #EF839D;
  --theme-colorD: #CAC7FE;
  --theme-colorE: #34343E;

  --navbar-background: #fbfbfb;
  --navbar-foreground: #212121;
  --navbar-border: #caced5;
  --navbar-hover-background: #8400ff25;
  --navbar-hover-foreground: #8a38f5;

  --badge-01-bg: #e0d7ff;
  --badge-01-fg: #5b31d8;

  --badge-02-bg: #dbeafe;
  --badge-02-fg: #1e40af;

  --badge-03-bg: #cffafe;
  --badge-03-fg: #0e7490;

  --badge-04-bg: #ccfbf1;
  --badge-04-fg: #0f766e;

  --badge-05-bg: #dcfce7;
  --badge-05-fg: #15803d;

  --badge-06-bg: #ecfccb;
  --badge-06-fg: #4d7c0f;

  --badge-07-bg: #fef9c3;
  --badge-07-fg: #a16207;

  --badge-08-bg: #ffedd5;
  --badge-08-fg: #c2410c;

  --badge-09-bg: #fee2e2;
  --badge-09-fg: #b91c1c;

  --badge-10-bg: #fce7f3;
  --badge-10-fg: #be185d;

  --badge-11-bg: #f5f5f4;
  --badge-11-fg: #57534e;

  --badge-12-bg: #f1f5f9;
  --badge-12-fg: #475569;

  font-family: var(--font-poppins), sans-serif;
  background-color: var(--background);
}

.page {
  display: grid;
  grid-template-columns: repeat(15, 1fr); 
  gap: 24px;                              
  height: 100vh;                          
  background-color: var(--background);  

  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .logo {
    /* filter: invert(); */
  }

  .page {
  }
}


.test{
  position:absolute;
  top:100px;
  left:300px;
  width:100px;
  height:50px;
  background-color:red;
  z-index:1000;
  cursor:pointer;
}