.root {
  --background: #eff3fc;
  --foreground: #fff;
  --components-background: #fbfbfb;
  --theme-colorA: #7b7dee;
  --theme-colorB: #34343e;
  --theme-colorC: #ef839d;
  --theme-colorD: #cac7fe;
  --theme-colorE: #34343e;
  --theme-colorE75: #34343e75;

  --navbar-background: #fbfbfb;
  --navbar-foreground: #212121;
  --navbar-border: #caced5;
  --navbar-hover-background: #8400ff25;
  --navbar-hover-foreground: #8a38f5;

  --badge-01-bg: #e0d7ff;
  --badge-01-fg: #5b31d8;

  --badge-02-bg: #dbeafe;
  --badge-02-fg: #1e40af;

  --badge-03-bg: #cffafe;
  --badge-03-fg: #0e7490;

  --badge-04-bg: #ccfbf1;
  --badge-04-fg: #0f766e;

  --badge-05-bg: #dcfce7;
  --badge-05-fg: #15803d;

  --badge-06-bg: #ecfccb;
  --badge-06-fg: #4d7c0f;

  --badge-07-bg: #fef9c3;
  --badge-07-fg: #a16207;

  --badge-08-bg: #ffedd5;
  --badge-08-fg: #c2410c;

  --badge-09-bg: #fee2e2;
  --badge-09-fg: #b91c1c;

  --badge-10-bg: #fce7f3;
  --badge-10-fg: #be185d;

  --badge-11-bg: #f5f5f4;
  --badge-11-fg: #57534e;

  --badge-12-bg: #f1f5f9;
  --badge-12-fg: #475569;

  --file-01-bg: #ef4444;
  --file-01-fg: #fef2f2;

  --file-02-bg: #0d9488;
  --file-02-fg: #ccfbf1;

  --file-03-bg: #f59e0b;
  --file-03-fg: #fffbeb;

  --poor-richard-font: 'Poor Richard', sans-serif;

  font-family: var(--font-poppins), sans-serif;
  background-color: var(--background);
}

.page {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 24px;
  height: 100vh;
  background-color: var(--background);

  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
.ContentArea {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 64px;
}
.ContentArea .UsableArea {
  width: 100%;
  height: 100%;
  border-radius: 30% 30% 0 0;
  
  padding-bottom: 8px;
  overflow-y: scroll;
}

.footer-space{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navbar-foreground);
}

@media (prefers-color-scheme: dark) {
  .logo {
    /* filter: invert(); */
  }

  .page {
  }
}

.test {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 100px;
  height: 50px;
  background-color: red;
  z-index: 1000;
  cursor: pointer;
}
