.noteContainer {
  width: 100%;
  margin-top: 100px;
  padding: 0 64px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--theme-colorB);
}
.noteContainer .favorites,
.noteContainer .suggestions {
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--navbar-border);
  overflow: hidden;
  background-color: var(--components-background);
}

.noteContainer .header {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: var(--components-background);
  /* border: 1px solid red; */
  width: fit-content;
  padding: 8px 16px;
  padding-bottom: 16px;
  padding-right: 128px;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  background: linear-gradient(
    130.14deg,
    rgb(116, 116, 116) 92.69%,
    #515151 44.05%
  );
}
.noteContainer .objects {
  padding: 16px 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
