.container{
    width: 100%;
    margin-top: 128px;
    padding: 0 64px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--theme-colorB);
}
.container .favorites , .container .suggestions{
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 16px;
    padding: 16px 32px;
  background-color: var(--components-background);

}

.container .objects{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.container .objects .object{
    width: 200px;
    height: auto;
    /* border: 1px solid red; */
}
.container .objects .object .img{
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
    border-radius: 16px;
}
.container .objects .object .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}
.container .objects .object .title{
    font-weight: 600;
    padding: 2px;
    padding-left: 4px;
}
.container .objects .object .option-btn{
    background: none;
    border: none;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-colorB);
    font-size: 24px;
    cursor: pointer;
}