.mobile-nav {
  /* border: 1px solid red; */
  width: 100vw;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.mobile-nav .logo {
  width: 160px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 4px;

  background: var(--components-background);
  border: 1px solid var(--navbar-border);
  border-radius: 22px 22px 60px 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-24px);
}

.mobile-nav .nav-sideIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 64px;
  max-width: 64px;
  width: 64px;
  /* border: 1px solid red; */
}

.mobile-nav .nav-sideIcon {
  position: absolute;
  width: 64px;
  min-width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background: var(--components-background);
  border: var(--accent-soft-border);
  border-radius: 64px;
  margin-top: 10px;
}

.mobile-nav .nav-sideIcon {
  background: var(--components-background);
  border: var(--accent-soft-border);
}

.mobile-nav .nav-sideIcon .navigation-btn {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: var(--accent-soft);

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    circle at top left,
    var(--components-background) 0%,
    var(--navbar-border) 90%
  );

  border: 1px solid var(--theme-colorE);
  box-shadow: inset 2px 2px 11px 5px var(--navbar-border);

  border-radius: 25px;
}

.mobile-nav .nav-sideIcon.active .navigation-btn {
  background: radial-gradient(
    circle at top left,
    var(--components-background) 0%,
    var(--accent-soft-border) 90%
  );

  border: 1px solid var(--accent-soft);
  box-shadow: inset 2px 2px 11px 5px var(--accent-soft-border);
}

.mobile-nav .nav-sideIcons .user {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  overflow: hidden;
}

.mobile-route {
  position: absolute;
  width: 100%;
  /* border: 1px solid red; */
  bottom: 0;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.mobile-route .path {
  width: fit-content;
  max-width: 100%;
  font-size: 12px;
  color: var(--theme-colorB);
  padding: 4px 84px;

  background: #fbfbfb;
  border: 1px solid #82a1e7;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mobile-route .path p {
  margin: 0;
  display: flex;
  align-items: center;
}

.mobile-route .path .route-item {
  display: inline-block;
}

.mobile-route .path .separator {
  margin: 0 4px;
}

.mobile-route .path .active {
  color: var(--theme-colorA);
  font-weight: 600;
}
