.item .controlBtns {
  width: 100%;
  height: 100%;
  padding: 16px;
  color: var(--bg);
}
.item .controlBtns .controlBtn {
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 16px;
  margin: 8px 0;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  border: 1px solid var(--border);
  background: var(--bg);
}
.item .controlBtns .controlBtn .icon {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  background: var(--navbar-background);
}

.item .controlBtns .controlBtn > .icon > * {
  font-size: 24px;
  color: var(--color);
}
.item .controlBtns .controlBtn > .label {
  font-size: 14px;
  color: var(--color);
}
