.MainAdminPage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  padding-top: 16px;
  padding-left: 16px;
  color: var(--theme-colorC);
}
.item {
  background: var(--components-background);
  /* box-shadow: 1px 4px 15px 2px rgba(141, 196, 251, 0.25);
  border-radius: 16px; */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 32px;

}

.item:nth-child(1) {
  grid-column-start: 3;
  grid-row-start: 1;
}

.item:nth-child(2) {
  grid-column-start: 4;
  grid-row-start: 2;
}
.item:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 4;
}
.item:nth-child(4) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.item:nth-child(5) {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 1;
}

.item:nth-child(6) {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}
.item:nth-child(7) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.item:nth-child(8) {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
}
.item:nth-child(9) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.item:nth-child(10) {
  grid-column-start: 4;
  grid-row-start: 3;
}
