

 @media (prefers-color-scheme: dark) {
  
} 
.root {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--background);
}

.page {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 24px;
  height: 100vh;
  background-color: var(--background);

  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
.ContentArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  padding-left: 64px;
  overflow: hidden;
}
.ContentArea .UsableArea {
  width: 100%;
  height: 100svh;
  border-radius: 96px 96px 0 0;

  padding-bottom: 8px;
  /* border: 1px solid red; */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.returningBG {
  content: "";
  width: 100vw;
  height: 100svh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /* background: #000; */
  z-index: -1;
}
.returningBG.open {
  display: block;
  background: linear-gradient(#323232, #0e0e0f, #5c5c5c);
  opacity: 0.15;
}
.footer-space {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navbar-foreground);
}

@media (prefers-color-scheme: dark) {
  .logo {
    /* filter: invert(); */
  }

  .page {
  }
}

.test {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 100px;
  height: 50px;
  background-color: red;
  z-index: 1000;
  cursor: pointer;
}
