
.nsc-modal::-webkit-scrollbar,
.ContentArea .UsableArea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.nsc-modal::-webkit-scrollbar-track,
.ContentArea .UsableArea::-webkit-scrollbar-track {
  background: #f1f1f5;
  border-radius: 10px;
}
.nsc-modal::-webkit-scrollbar-thumb,
.ContentArea .UsableArea::-webkit-scrollbar-thumb {
  background: #c4c4d8;
  border-radius: 10px;
  transition: background 0.3s ease;
}
.nsc-modal::-webkit-scrollbar-thumb:hover,
.ContentArea .UsableArea::-webkit-scrollbar-thumb:hover {
  background: #a8a8c0;
}
.nsc-modal::-webkit-scrollbar-thumb:active,
.ContentArea .UsableArea::-webkit-scrollbar-thumb:active {
  background: #8e8ea8;
}

/* For Firefox */
.ContentArea .UsableArea {
  scrollbar-width: thin;
  /* scroll-margin: 30px 0; */
  scrollbar-color: #c4c4d8 #f1f1f5;
}
.nsc-modal{
  scrollbar-width: thin;
  /* scroll-margin: 30px 0; */
  scrollbar-color: #e7e7ed transparent;
}

.nsc-modal::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}